{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Criar Anúncio de Ingresso</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body class="text-primary-emphasis text-center">
    <h1 class="text-primary-emphasis text-center">Crie seu Anúncio</h1>
    <form method="POST" class="formulario text-center">
      {% csrf_token %}
      <table class="text-center">
        {{ formulario.as_table }}
          <tr>
            <td></td>
            <td><input type="submit" value="Anunciar"></td>
          </tr>
      </table>
    </form>
    <form action="{% url 'inicial' %}">
        <input type='submit' value='Página inicial'>
    </form>
</body>
</html>