{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Meus Ingressos</title>
    <link rel="stylesheet" href="{% static 'reTicket/css/estilo.css' %}">
</head>
<body>
    <h1>Meus Ingressos:</h1>
        <table>
            <tr><th>Evento</th><th>Código</th><th>Data</th><th>Preço</th><th>Ações</th></tr>
            {% for evento in eventos %}
        	    <tr>
                    <td>{{ evento.nome }}</td>
                    <td>{{ evento.codigo }}</td>
                    <td>{{ evento.dtEvento }}</td>
                    <td>{{ evento.preco }}</td>
                    <td>
                        <a href="{% url 'ingressos:atualiza-ingresso' pk=evento.id %}">Editar</a>
                    </td>
                </tr>
    	    {% empty %}
        	    <tr><th colspan="5">Você ainda não tem ingressos cadastrados.</th></tr>
    	    {% endfor %}
        </table>
        <form action="{% url 'inicial' %}">
            &nbsp;<input type='submit' value='Voltar para a página inicial'>
        </form>
</body>
</html>